.header
  &__block
    margin-top: -88px
  &__logo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border-radius: 60px
    background-color: #5B0F80
    width: 40px
    height: 40px
  .uikit-example
    nav
      .container-fluid
        padding-right: 0.5rem
        padding-left: 0.5rem
        .button__btn
          background-color: #5B0F80
          color: #fff
          margin-left: 60px
          transition: 0.4s
          &:hover
            background-color: #310645
      a
        color: #ffffff
        +Medium
    h1
      font-size: 3.5rem
      font-weight: bold
      font-family: sans-serif
      color: #ffffff
      +roboto
  .header__buttons
    display: flex
    a
      +boldRoboto
.header__line
  border-bottom: 1px solid #f8f8f8
@media (max-width: 991px)
  .header .uikit-example h1
    font-size: 2.5rem 
  .header .uikit-example nav .container-fluid .button__btn
    margin-left: 0
@media (max-width: 767px) 
  .header__buttons
    justify-content: center
@media (max-width: 575px)
  .header .uikit-example h1
    font-size: 2rem
  .header .header__buttons
    flex-direction: column

