.integration
  margin-top: 140px
  &__head
    font-size: 40px
  &__header
    font-size: 46px
    line-height: 40px
    font-weight: 800
    letter-spacing: normal
    color: #484848
    font-family: sans-serif
    padding-top: 6px
    padding-bottom: 60px
    margin-top: 160px
  &__block
    span
      display: flex
      justify-content: center
      align-items: center
      width: 48px
      height: 48px
      border: 2px solid black
      border-radius: 60px 
      small
        font-size: 18px
        color: #000000
        font-family: sans-serif
    h5
      font-size: 18px
      font-weight: 800
      color: rgb(72, 72, 72)
  &__box
    font-size: 16px
    font-weight: 400
    color: #484848